<ion-view ng-controller="UserCtrl">
  <ion-content class="content login">
    <div class="login-form-container list">
      <ion-item>
        <ion-label color="primary" stacked>Username</ion-label>
        <input ng-model="username" placeholder="Username">
      </ion-item>
      <ion-item>
        <ion-label color="primary" stacked>Password</ion-label>
        <input type="password" ng-model="password" placeholder="Password">
      </ion-item>
      <ion-item>
        <ion-label color="primary" stacked>Confirm Password</ion-label>
        <input type="password" ng-model="confirmPassword" placeholder="Confirm Password">
      </ion-item>
      <button ng-click="register()" class="button button-calm button-block">Register</button>
    </div>
  </ion-content>
</ion-view>
