<ion-view ng-controller="UserCtrl">
  <ion-content class="background-graphic content login">
      <form class="login-form-container register-form-container list">
        <div class="form-field">
          <ion-item>
            <ion-label class="icon ion-person icon-right" color="primary" stacked>   Name</ion-label>
            <input type="text" ng-model="user.name" placeholder="Name">
          </ion-item>
        </div>
        <div class="form-field">
          <ion-item>
            <ion-label class="icon ion-email icon-right" color="primary" stacked>   Email</ion-label>
            <input type="email" ng-model="user.email" placeholder="Email">
          </ion-item>
        </div>
        <div class="form-field">
          <ion-item>
            <ion-label class="icon ion-lock-combination icon-right" color="primary" stacked>   Password</ion-label>
            <input type="password" ng-model="user.password" placeholder="Password">
          </ion-item>
        </div>
        <div class="form-field">
          <ion-item>
            <ion-label class="icon ion-lock-combination icon-right" color="primary" stacked>   Confirm Password</ion-label>
            <input type="password" ng-model="user.password_confirmation" placeholder="Confirm Password">
          </ion-item>
        </div>
        <div class="rhomb">
          <button id="button-register" ng-click="register()" class="rhomb-reverse button button-calm button-block">Register</button>
        </div>
      </form>
  </ion-content>
</ion-view>


