<ion-view ng-init="logout()" class="login-container" ng-controller="UserCtrl">
  <ion-content class="background-image content login">
    <form class="login-form-container list">
      <ion-item>
        <ion-label class="icon ion-email icon-right" color="primary" stacked>   Email</ion-label>
        <input id="email" type="email" ng-model="user.email" placeholder="Email">
      </ion-item>
      <ion-item>
        <ion-label class="icon ion-lock-combination icon-right" color="primary" stacked>  Password</ion-label>
        <input id="password" type="password" ng-model="user.password" placeholder="Password">
      </ion-item>
        <button type="submit" ng-click="login()" class="button button-calm button-block">Login</button>
        <button ng-click="regpage()" class="button button-calm button-block">Register</button>
    </form>
  </ion-content>
</ion-view>

