<ion-view ng-controller="PlaylistsCtrl">
  <ion-content class="content has-header">
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <form ng-submit="spotify()">
        <input ng-model="spotify.searchedSong" type="search" placeholder="Search Song">
      </form>
    </label>
    <div ng-hide="show" id="user-playlist">
      <h3>My Playlist</h3>
      <div class="list all-songs-list">
        <div class="item card" ng-repeat="song in playlists">
          <p><strong>{{song.artist}}</strong></p>
          <p>{{song.title}}</p>
          <button id="{{song.id}}" ng-click="destroySong()" class="item card icon ion-minus-circled song-delete-btn">   Delete</button>
        </div>
      </div>
    </div>
    <div ng-show="show" id="user-search-list">
      <h3>Results</h3>
      <div class="list">
        <button id="song-btn" ng-click="songInfo()" class="item card icon ion-plus-circled icon-right" ng-repeat="song in songs">
          {{song.artists[0].name}}
          <p>{{song.name}}</p>
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>


