<ion-view ng-controller="GameCtrl">
  <div class="bar bar-header bar-calm">
    <h1 class="title">Party: {{partySongs[0].party_id}}</h1>
  </div>
  <ion-content class="background-image pane content has-header">
    <h3 class="party-people-header row header">Our Crowd</h3>

    <div id="party" class="party-background" class="col">
      <div class="row col-offset-2 party-background" ng-repeat="person in partyPeople"><p class='party-people'>{{person.name}}</p></div>
    </div>
    <button ng-click="shuffleSong()" class="button button-calm button-block icon ion-shuffle icon-right shuffle-btn">Shuffle</button>
    <div class="img-container">
      <p class="white-font" ng-hide="IsHidden">shuffling...</p>
      <img ng-hide="IsHidden" id="shuffle-wheel" src="../img/loader.gif" height="50px">
    </div>
    <div id="party-list" class="list card" >
      <div class="item item-avatar next-song-info">
        <h2>{{currentSinger.song_title}}</h2>
        <p>{{currentSinger.song_artist}}</p>
      </div>
      <div class="item item-image">
        <img ng-src="{{currentSinger.playlists.songs.img}}">
      </div>
      <div class="item">
        <h2 class="icon ion-music-note singer-name">   Singer: {{currentSinger.singer_name}}</h2>
        <i ng-click='doneSong()' class="icon ion-minus-circled song-done-btn"></i>
      </div>
    </div>
    <h3 class="party-people-header row header">Next Up</h3>
    <div id="upcoming-singer">
      <div id="on-deck" class="list card" ng-repeat="data in partySongs" >
        <div class="item ">
          <p><strong>{{data.song_title}}</strong></p>
          <p>{{data.song_artist}}</p>
          <p><strong class="singer-name">{{data.singer_name}}</strong></p>
        </div>
      </div>
    </div>
    <button id="leave-btn" class="button button-calm button-block icon ion-android-walk icon-right shuffle-btn" ng-click="leaveParty()">Leave Party</button>
  </ion-content>
</ion-view>





