<ion-view ng-controller="GameCtrl">
  <div class="bar bar-header bar-calm">
    <h1 class="title">Karaoke Rollette</h1>
  </div>
  <ion-content class="background-image content has-header">
  <ion-content class="content has-header">
    <button id="leave-btn" class="icon ion-android-walk icon-right" ng-click="leaveParty()">Leave Party</button>
    <h1 id="game-title" class="title">Party: {{partySongs[0].party_id}}</h1>
      <div id="party" class="col">
        <div class="party-people-header row header">Party People</div>
        <div id='party-people' class="row col-offset-2" ng-repeat="person in partyPeople">{{person.name}}<br></div>
      </div>
    <button ng-click="user()" class="button button-calm button-block icon ion-mic-c">Start</button>
    <button ng-click="shuffleSong()" class="button button-calm button-block icon ion-shuffle icon-right">Shuffle</button>
      <div class="img-container">
        <p ng-hide="IsHidden">shuffling...</p>
        <img ng-hide="IsHidden" id="shuffle-wheel" src="../img/discoballtransmall.gif" height="50px">
      </div>
    <div id="party-list" class="list list-inset">
      <div class="list card" >
        <div class="item item-avatar">
          <h2>{{currentSinger.song_artist}}</h2>
          <p>{{currentSinger.song_title}}</p>
        </div>
        <div class="item item-image">
          <img src="{{currentSinger.playlists.songs.img}}">
        </div>
        <div class="item item-icon-left assertive">
          <i class="icon ion-music-note"></i>
          Singer:  {{currentSinger.singer_name}}
          <button ng-click='doneSong()' class="item card icon ion-minus-circled song-done-btn"></button>
        </div>
      </div>
    </div>
    <h3>on Deck</h3>
    <div id="upcoming-singer">
      <div id="on-deck" class="list card" ng-repeat="data in partySongs" >
        <div class="item ">
          <p><strong>{{data.song_title}}</strong></p>
          <p>{{data.song_artist}}</p>
          <p>{{data.singer_name}}</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>





