/* Empty. Add your own CSS if you like */

h3 {
  color: #424242;
  text-align: center;
}

.list {
  max-width: 500px;
  margin: auto;
}

.register {
  margin: auto;
  max-width: 500px;
  padding: 10px;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  text-align: center;
}

.register:select {
  background-color: white;
}

a {
  text-decoration: none;
  color: #212121;
}

.button {
  margin: auto;
  max-width: 40%;
}

.title {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

 .content {
  height: 100%;
  background-color: #BDBDBD;
}

.card {
  padding: 8px;
  margin: 8px;
}
