/* Empty. Add your own CSS if you like */

h1, h3, .title {
  color: #424242;
  text-align: center;
}

#login-btn {
  margin-top: 300px;

}

.list-inset {
  width: 90%;
}

.list {
  max-width: 500px;
  margin: auto;
}

.login-form-container {
  margin-top: 10%;
}

input {
  border: none;
}

.register {
  margin: auto;
  max-width: 500px;
  padding: 10px;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  text-align: center;
}

.register:select {
  background-color: white;
}

a {
  text-decoration: none;
  color: #212121;
}

.button {
  margin: auto;
  max-width: 50%;
}

.title {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

 .content {
  height: 100%;
  background-color: #BDBDBD;
}

.card {
  padding: 8px;
  margin: 8px;
}
